body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
  }
  
  .container {
    padding: 20px;
  }
  .Contact-img{
    width: 100vw;
    height: 70vh;
    margin-top: 0%;
  }

  
  .header {
    /* background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center; */
  }
  
  .contact-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4%;
    margin-left: 73px;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .info-item {
    background-color: white;
    padding: 20px;
    margin: 10px;
    flex: 1 1 calc(25% - 40px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .contact-form-section {
    background-color: white;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin: 10px 0 5px;
  }
  
  .contact-form input, .contact-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .submit-button{
    width: 21%;
    margin-left: 40%;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  
  .map-section {
    margin: 20px 0;
    text-align: center;
  }
  
  .footer {
    /* background-color: #007bff; */
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .social-media a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  
  .social-media a:hover {
    text-decoration: underline;
  }
  