/* src/css/Header.css */
.container-navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 35, 73, 0.95);
  padding: 10px 20px;
  z-index: 1;
  
}

.logo img {
  height: 53px;
  border-radius: 38px;

}

/* Container for the search input and button */
.search-container-header {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 39%; 
}

/* Styling for the input field */
.search-container-header input[type="text"] {
  width: 250px;
  padding: 10px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border 0.3s;
}

/* Change border color on focus */
.search-container-header input[type="text"]:focus {
  border-color: #007bff; 
  outline: none; 
}

/* Styling for the search button */
.search-container-header button {
  margin-left: 8px; 
  padding: 10px 15px; 
  border: none;
  background-color: #007bff; 
  color: white; 
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

.request button {
  padding: 10px 15px; 
  border: none; 
  background-color: #007bff;
  color: white; 
  border-radius: 5px;
  cursor: pointer; 
  transition: background-color 0.3s;
  margin-left: -106px;
}

.nav-item.active a {
  color: #007bff; 
  font-weight: bold;
  border-bottom: 2px solid #007bff; 
}

/* Change button background on hover */
.search-container-header button:hover {
  background-color: #0056b3; 
}

.header-footer{
  margin-top: 150%;
}
.header-footer p{
  margin-top: 35px;
  margin-bottom: 40px;
}
.header-footer-button{
  display: flex;
  gap: 40px;
}


.navigation {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  height: 100%;
  background-color: rgba(0, 35, 73, 0.95); 
  color: white;
  transition: left 0.3s ease;
  padding: 20px;
  z-index: 1000;
}
.navigation.nav-active {
  left: 0; 
}

.close-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  width: 24%;
}

.nav-list {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  margin: 15px 0;
}

.nav-item a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: #ccc; 
}

.menu-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
}

@media(max-width:1400px){
  .search-container-header  {
   display: none;
  }
  
  .request button {
  display: none;
  }
}
